{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
        <link href="{% static 'jumbotron.css" rel="stylesheet' %}">

</head>

<body>
    <div class="container">
        <table class="table table-bordered" style="margin-top: 40px">
          <thead>
            <tr style="background:#00ada1">
              <th style="color: white">Descarga archivo Html</th>
            </tr>
          </thead>
          <tbody>
    				<tr>
    					<td><h5>La descarga se completo con exito.</h5>
                <br>
                <button class="btn" style="background:#87499c"><a href="/base/" style="color:white">Volver</a></button>

              </td>

    				</tr>
    			</tbody>
        </table>
</div>


  </body>
</html>
