<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Buscar palabras</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'jumbotron.css" rel="stylesheet' %}">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>
  <body>
<div class="container">
    <center><h1 style="font-family:Ubuntu">Ingresa tu palabra</h1><br></center>
      <form class="" action="" method="post">{% csrf_token %}
         {{form}}<br>
          <input class="btn" style="background:#87499c;color:white;width:150px" type="submit" name="" value="Buscar">
          <button class="btn" style="background:#00ada1;"><a href="/base/" style="color:white">Volver</a></button>
       </form>


       <br>
       <hr>
      {% for i in datal %}<br>
          {{i}}
      {% endfor %}

</div>
      </body>
</html>
